{% extends 'base.html.twig' %}

{% block page %}signup{% endblock %}
{% block title %}tipmytip • Sign up{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/signup.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="stylesheet" href="font-awesome-4.6.1/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap-datepicker/css/datepicker.css" type="text/css" />
{% endblock %}
{% block scripts %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/js/signup.js"></script>
{% endblock %}

{% block body %}
<div class="signup_content" ng-app="app" ng-controller="SignUpController">
    <div class="col-sm-offset-1" style="margin-top: 100px">
            <span style="font-size: 25px; color: #0d024c">Sign Up</span>
            <button class="btn-sm btn-default btn-rounded" style="margin-left: 5%">Sign up with Facebook</button>
    </div>

    <div class="col-sm-offset-1 flexbox" style="margin-top: 30px">
        <div>
            <button class="btn btn-rounded btn-llg btn-icon btn-default" style="font-size: 40px"><i class="fa fa-user"></i></button>
        </div>
        <div class="flexbox gender_container">
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="a">
                    <i></i>
                    Main
                </label>

                <label class="i-checks i-checks-sm gender_item">
                    <input type="radio" name="a">
                    <i></i>
                    Woman
                </label>

                <div>
                    <label class="i-checks i-checks-sm gender_item">
                        <input type="radio" name="a">
                        <i></i>
                    </label>
                    <input type="text" class="form-control" style="display: inline; width: 200px" placeholder="I identify my gender as...">
                </div>
        </div>
    </div>

    <form name="forma" class="form-horizontal form-validation" style="margin-top: 30px">
        <div class="formbox form-horizontal">
            <div class="col-lg-6">
               <div class="form-group" style="margin-top: 30px">
                    <div class="col-sm-6">
                        <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <input type="email" name="confirm_email" ng-model="confirm_email" class="form-control" placeholder="Confirmation Email" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <input type="password" name="confirm_password" ng-model="confirm_password" class="form-control" placeholder="Confirmation Password" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" name="first_name" ng-model="user.first_name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-sm-6 inline-input">
                        <input type="text" name="last_name" ng-model="user.last_name" class="form-control" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="user.date_of_birth" is-open="opened" datepicker-options="dateOptions" placeholder="Date of Birth(dd/mm/yyyy)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select class='form-control' ng-model="user.national_id" placeholder="Nationality"
                                ng-options="value.id as value.name for (key, value) in countrylist">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 mobile-center" >
                        <span>Click Where you live or nearest city</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <select class='form-control' ng-model="user.country_id" placeholder="Nationality"
                                ng-options="value.id as value.name for (key, value) in countrylist" ng-change="onSelectCountry(user.country_id)">
                        </select>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select class='form-control' ng-model="user.city_id" placeholder="City"
                                ng-options="value.id as value.name for (key, value) in citylist" ng-change="onSelectCountry(user.country_id)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-sm-12 mobile-center" >
                        <span>4 Cities you know well</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                    <div class="col-sm-6 inline-input">
                        <select name="nationality" placeholder="Nationality" class="form-control">
                            <option>option 1</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="text-align: right">
                    <div class="col-sm-8">
                        <span>
                            By clicking on "Create Account" you agree to the <a style="text-decoration: underline;">Terms of use</a> and <a style="text-decoration: underline;">Privacy Policy</a>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn-sm btn-default btn-rounded">Create Account</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
{% endblock %}
