{% extends 'base.html.twig' %}

{% block page %}signup{% endblock %}
{% block title %}tipmytip • Sign up{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/css/signup.css" type="text/css" />{% endblock %}
{% block scripts %}<script src="/js/signup.js"></script>{% endblock %}

{% block body %}
    <h1>Sign up page - Have fun Hai!</h1>
{% endblock %}
